openapi: 3.0.3
info:
  title: Releasarr API
  version: 0.1.0
  description: |
    Contract derived from the new frontend client. Captures the HTTP interface the
    UI expects today so the backend can be validated and mocked consistently.
  license:
    name: Proprietary
    url: https://github.com/koreetz/releasarr
servers:
  - url: https://api.releasarr.dev/api
    description: Production server
  - url: http://localhost:8001/api
    description: Local development server
security:
  - ApiKeyAuth: []
paths:
  /requests:
    get:
      tags: [Requests]
      summary: List media requests
      operationId: listRequests
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/RequestStatus'
        - $ref: '#/components/parameters/RequestType'
      responses:
        '200':
          description: Paged list of media requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestsResponse'
        '400':
          description: Invalid pagination or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Requests]
      summary: Create a media request
      operationId: createRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaRequestCreate'
      responses:
        '201':
          description: Created request details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaRequest'
        '400':
          description: Malformed request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed for the provided fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{requestId}:
    get:
      tags: [Requests]
      summary: Retrieve a single request
      operationId: getRequest
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Requested media request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaRequest'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [Requests]
      summary: Partially update a media request
      operationId: updateRequest
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaRequestUpdate'
      responses:
        '200':
          description: Updated request details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaRequest'
        '400':
          description: Malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed for at least one field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Requests]
      summary: Delete a media request
      operationId: deleteRequest
      description: |
        Removes the request and unmonitors what produced it: the season in Sonarr
        or the movie in Radarr. Dropping the row alone would not last, because the
        recurring sync rebuilds a request for every monitored season Sonarr still
        reports as missing.

        The series or movie itself stays in the library, as do any files already
        imported, and a series stays monitored even once its last season has
        gone - Sonarr reads one with no monitored season as wanting nothing.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '204':
          description: Request removed.
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr or Radarr could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{requestId}/episodes:
    get:
      tags: [Requests]
      summary: List the episodes of the season a request covers
      operationId: listRequestEpisodes
      description: |
        Every episode of the one season a series request covers, with its air
        date and the file Sonarr holds for it, if any. Sonarr is asked directly
        rather than the answer being derived from the files of the releases
        grabbed here: a season is just as likely to have been filled from
        outside releasarr, and what Sonarr holds is the truth either way.

        An episode counts as `downloaded` once Sonarr has a file for it,
        whatever its air date says. Of the rest, one whose air date has passed
        is `missing` - the only state that is anybody's to act on - and one
        still to air, or that Sonarr has no date for at all, is `unaired`.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: The episodes of the request's season, in episode order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonEpisodesResponse'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The request has no season in Sonarr whose episodes can be listed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{requestId}/seasons:
    get:
      tags: [Requests]
      summary: List the seasons of the series a request belongs to
      operationId: listRequestSeasons
      description: |
        The seasons of the series behind a series request, with the request state
        of each, for managing the selection from the request itself. Sonarr is
        asked by the series id the sync stamped on the request, which is the only
        handle a request page has - it knows nothing about TVDB. The monitored
        flags come from Sonarr itself, so a season monitored there without ever
        going missing is reported as monitored here too.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: The seasons of the request's series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesSeasonsResponse'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The request has no series in Sonarr whose seasons can be managed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags: [Requests]
      summary: Set which seasons of a series Sonarr monitors
      operationId: updateRequestSeasons
      description: |
        Brings the monitoring of a series in line with the given selection,
        writing the flags straight to Sonarr. The difference is taken against
        what Sonarr monitors now rather than against the requests releasarr
        holds, because a monitored season that is already complete never becomes
        a request and would otherwise be unmonitored on save.

        Newly picked seasons are monitored and synced into requests; seasons
        dropped from the selection are unmonitored and any request of theirs
        removed, which includes the request in the path if its own season is left
        out.

        Both halves go through a single Sonarr write, so the series never passes
        through a state where every season has been dropped and is about to be
        added back.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSeasonsPayload'
      responses:
        '200':
          description: The seasons of the request's series, as they now stand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesSeasonsResponse'
        '400':
          description: The series has no such season.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The request has no series in Sonarr whose seasons can be managed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed for the provided fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{requestId}/releases:
    get:
      tags: [Releases]
      summary: List releases attached to a request
      operationId: listReleasesForRequest
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/ReleaseStatus'
      responses:
        '200':
          description: Releases linked to the provided request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasesResponse'
        '400':
          description: Invalid pagination or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases:
    get:
      tags: [Releases]
      summary: List releases
      operationId: listReleases
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/ReleaseStatus'
        - $ref: '#/components/parameters/RequestIdFilter'
      responses:
        '200':
          description: List of releases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasesResponse'
        '400':
          description: Invalid pagination or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [Releases]
      summary: Register a new release sourced from an external download
      operationId: createRelease
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseRequest'
      responses:
        '201':
          description: Created release metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '400':
          description: Malformed request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A release with the same identifier already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed for the provided fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseId}:
    get:
      tags: [Releases]
      summary: Retrieve release details
      operationId: getRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '200':
          description: Release metadata and files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '404':
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Releases]
      summary: Remove a release
      operationId: deleteRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '204':
          description: Release removed.
        '404':
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseId}/pause:
    post:
      tags: [Releases]
      summary: Pause an active release
      operationId: pauseRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '202':
          description: Pause accepted.
          headers:
            Location:
              description: URL to poll for the async pause operation status.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '400':
          description: Release cannot be paused because the request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Release is not in a pausable state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseId}/resume:
    post:
      tags: [Releases]
      summary: Resume a paused release
      operationId: resumeRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '202':
          description: Resume accepted.
          headers:
            Location:
              description: URL to poll for the async resume operation status.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '400':
          description: Release cannot be resumed because the request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Release is not in a resumable state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseId}/files/mapping:
    put:
      tags: [Releases]
      summary: Update mappings for release files
      operationId: updateReleaseFileMappings
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseFileMappingsUpdate'
      responses:
        '200':
          description: Mapping update acknowledgement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Malformed request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Release or file not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/{releaseId}/files/mapping/suggestions:
    get:
      tags: [Releases]
      summary: Suggest mappings for release files
      description: >-
        Returns the mappings automapping would make for the files that are not
        already mapped correctly, without storing any of them. Only files a
        mapping could be resolved for are listed.
      operationId: suggestReleaseFileMappings
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '200':
          description: Proposed mappings, awaiting confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseFileMappingSuggestions'
        '404':
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /releases/search:
    get:
      tags: [Releases]
      summary: Search for release sources
      operationId: searchReleaseSources
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
          description: Free-text query string.
        - in: query
          name: request_id
          required: false
          schema:
            type: string
          description: Identifier of the media request initiating the search.
      responses:
        '200':
          description: Release source search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSearchResponse'
        '400':
          description: Malformed search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{requestId}/releases/download:
    post:
      tags: [Releases]
      summary: Queue a release download for a request
      operationId: queueReleaseDownload
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseDownloadRequest'
      responses:
        '202':
          description: Release source accepted for download.
          headers:
            Location:
              description: URL to poll for the queued download status.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '400':
          description: Malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Release candidate not found for the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Request already has an active download.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{requestId}/releases/manual:
    post:
      tags: [Releases]
      summary: Queue a hand-supplied release for a request
      description: |
        Grabs a release the user already has, bypassing the indexer search.
        Exactly one of `torrent_file_base64` or `magnet_link` must be supplied.
        The release is identified by the info hash the payload carries, so a
        torrent file and its magnet equivalent resolve to the same release.
      operationId: queueManualRelease
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualReleaseRequest'
      responses:
        '202':
          description: Release accepted for download.
          headers:
            Location:
              description: URL to poll for the queued download status.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '400':
          description: Unreadable torrent file or magnet link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The release is already registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discover/search:
    get:
      tags: [Discover]
      summary: Search TVDB or TMDB for media to request
      description: |
        Results come from the metadata provider for the given type - TVDB for
        series, TMDB for movies - and are annotated with what releasarr already
        holds: whether Sonarr/Radarr has the item in its library, and which of
        its seasons already have a request. The annotation is best-effort, so a
        Sonarr or Radarr that cannot be reached leaves the results unannotated
        rather than failing the search.

        Omitting `type` searches both providers and returns one mixed list,
        ordered by how closely each title matches the term. Only one of the two
        providers has to be configured, and a provider that cannot be reached is
        left out rather than failing the search.
      operationId: searchMedia
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
            minLength: 1
          description: Free-text title to search for.
        - in: query
          name: type
          required: false
          schema:
            $ref: '#/components/schemas/MediaType'
          description: |
            Restrict the search to one media type. Both are searched when
            omitted.
        - in: query
          name: lang
          required: false
          schema:
            type: string
            minLength: 2
            maxLength: 8
          description: |
            Preferred language for the titles and overviews, as a 2- or
            3-letter code. Takes precedence over the configured metadata
            languages, and is ignored if the provider has no translation.
      responses:
        '200':
          description: Metadata provider matches, annotated with library and request state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaSearchResponse'
        '422':
          description: Invalid search parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr, Radarr or the metadata provider could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: The metadata provider is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discover/series/{tvdbId}/seasons:
    get:
      tags: [Discover]
      summary: List the seasons of a series, with their request state
      description: |
        Season numbers come from Sonarr's own lookup, so they are the ones an add
        would actually monitor. For a series already in the library each season
        also reports whether Sonarr monitors it and whether it already has a
        request.
      operationId: listSeriesSeasons
      parameters:
        - $ref: '#/components/parameters/TvdbId'
      responses:
        '200':
          description: The seasons the series offers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesSeasonsResponse'
        '404':
          description: No series matches the TVDB id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr or the metadata provider could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discover/root-folders:
    get:
      tags: [Discover]
      summary: List the library locations media can be added to
      operationId: listRootFolders
      parameters:
        - in: query
          name: type
          required: true
          schema:
            $ref: '#/components/schemas/MediaType'
          description: Whether to read Sonarr's or Radarr's root folders.
      responses:
        '200':
          description: Root folders configured in the *arr app, unreachable ones omitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootFoldersResponse'
        '422':
          description: Invalid media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr or Radarr could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discover/requests:
    post:
      tags: [Discover]
      summary: Add media to Sonarr/Radarr and request it
      description: |
        Adds the picked series or movie to Sonarr/Radarr by its TVDB/TMDB id,
        monitoring the selected seasons, and creates the matching media requests
        before responding. Media already in the library is not re-added: only the
        monitoring is widened to cover the selection.
      operationId: addRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRequestPayload'
      responses:
        '201':
          description: The created requests, one per season for a series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddRequestResponse'
        '400':
          description: Invalid root folder, season selection or quality profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media matches the provider id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation failed for the provided fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Sonarr or Radarr could not be reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      tags: [Logs]
      summary: List processing logs
      description: |
        Application log entries, newest first. Filters match fields the log
        producer bound onto the record, so `task` returns everything logged
        while that background task was running, including lines emitted deeper
        in the call stack.
      operationId: listRequestLogs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/RequestIdFilter'
        - $ref: '#/components/parameters/TaskFilter'
      responses:
        '200':
          description: Request logs matching the supplied filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'
        '400':
          description: Invalid pagination or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/sync_all:
    post:
      tags: [Tasks]
      summary: Queue every task
      description: |
        Queues every task in dependency order: Sonarr and Radarr request syncs,
        download state refresh, import of finished releases back into them, and
        re-grab of outdated releases. Execution happens in the scheduler process,
        so the response only acknowledges that the work was queued.
      operationId: triggerFullSync
      responses:
        '202':
          description: Sync queued.
          headers:
            Location:
              description: URL to poll for the queued sync job.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/sync_downloads:
    post:
      tags: [Tasks]
      summary: Queue a download sync and library import
      description: |
        Refreshes download state from the download client and imports finished
        releases into Sonarr and Radarr. Intended for a download client to call
        when a torrent finishes, so it deliberately skips the slower library and
        indexer tasks of a full sync.
      operationId: triggerDownloadSync
      responses:
        '202':
          description: Sync queued.
          headers:
            Location:
              description: URL to poll for the queued sync job.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/run/{kind}:
    post:
      tags: [Tasks]
      summary: Queue a single task
      description: |
        Queues one task for immediate execution, equivalent to the run button
        next to each task on the system tasks page.
      operationId: runTask
      parameters:
        - in: path
          name: kind
          required: true
          schema:
            $ref: '#/components/schemas/SyncJobKind'
          description: The task to run.
      responses:
        '202':
          description: Task queued.
          headers:
            Location:
              description: URL to poll for the queued sync job.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
        '422':
          description: Unknown task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/scheduled:
    get:
      tags: [Tasks]
      summary: List recurring tasks
      description: |
        Returns every task the scheduler runs on an interval, along with when it
        last ran and when it is next due. Scheduled runs are not recorded as
        jobs, so this is the only place their outcome is reported.
      operationId: listScheduledTasks
      responses:
        '200':
          description: The recurring tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledTasksResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/jobs:
    get:
      tags: [Tasks]
      summary: List recent task runs
      description: |
        History of on-demand runs, newest first. Only runs triggered over the
        API or by a download client appear here; scheduled runs are reported by
        the scheduled tasks endpoint instead.
      operationId: listSyncJobs
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of jobs to return, newest first.
      responses:
        '200':
          description: Recently queued sync jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncJobsResponse'
        '400':
          description: Invalid pagination parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tasks/jobs/{jobId}:
    get:
      tags: [Tasks]
      summary: Get a task run
      operationId: getSyncJob
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: The requested sync job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncJob'
        '404':
          description: Sync job not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required to authorize requests.
  parameters:
    RequestId:
      in: path
      name: requestId
      required: true
      schema:
        type: string
      description: Unique identifier for a media request.
    ReleaseId:
      in: path
      name: releaseId
      required: true
      schema:
        type: string
      description: Unique identifier for a release.
    JobId:
      in: path
      name: jobId
      required: true
      schema:
        type: string
      description: Unique identifier for a sync job.
    TvdbId:
      in: path
      name: tvdbId
      required: true
      schema:
        type: integer
        minimum: 1
      description: TVDB identifier of a series.
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
      description: Results page to retrieve (1-indexed).
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Number of items to return per page.
    RequestStatus:
      in: query
      name: status
      schema:
        $ref: '#/components/schemas/MediaRequestStatus'
      description: Filter requests by lifecycle status.
    RequestType:
      in: query
      name: type
      schema:
        $ref: '#/components/schemas/MediaType'
      description: Filter requests by media type.
    ReleaseStatus:
      in: query
      name: status
      schema:
        $ref: '#/components/schemas/ReleaseStatus'
      description: Filter releases by lifecycle status.
    RequestIdFilter:
      in: query
      name: request_id
      schema:
        type: string
      description: Optional media request identifier to filter results.
    TaskFilter:
      in: query
      name: task
      schema:
        $ref: '#/components/schemas/SyncJobKind'
      description: Optional background task to filter results.
  schemas:
    MediaType:
      type: string
      enum: [movie, series]
    MediaRequestStatus:
      type: string
      enum: [pending, searching, downloading, completed, failed]
    ReleaseStatus:
      type: string
      enum: [pending, downloading, seeding, completed, failed]
    RequestLogLevel:
      type: string
      enum: [info, warning, error]
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Machine-readable error identifier.
        message:
          type: string
          description: Human-readable explanation of the error.
        details:
          description: Optional key/value data with context for the failure.
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: array
                items:
                  type: string
    RequestsResponse:
      type: object
      required: [requests, total, page, per_page]
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/MediaRequest'
        total:
          type: integer
          minimum: 0
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
    EpisodeStatus:
      type: string
      enum: [downloaded, missing, unaired]
      description: >-
        Where an episode stands. `downloaded` whenever Sonarr holds a file for
        it, `missing` once its air date has passed with no file, and `unaired`
        while it is still to come or has no known date.
    SeasonEpisode:
      type: object
      required: [episode_number, title, status]
      properties:
        episode_number:
          type: integer
        title:
          type: string
        status:
          $ref: '#/components/schemas/EpisodeStatus'
        air_date:
          type: string
          format: date-time
          nullable: true
          description: >-
            When the episode airs, in UTC. Null for an episode Sonarr has no
            date for, which also leaves it reported as unaired.
        file_size:
          type: integer
          nullable: true
          description: >-
            Bytes on disk. Null for an episode Sonarr holds no file for, and
            for one whose file it has yet to measure.
    SeasonEpisodesResponse:
      type: object
      required: [season_number, episodes]
      properties:
        season_number:
          type: integer
        episodes:
          type: array
          items:
            $ref: '#/components/schemas/SeasonEpisode'
    ReleasesResponse:
      type: object
      required: [releases, total, page, per_page]
      properties:
        releases:
          type: array
          items:
            $ref: '#/components/schemas/Release'
        total:
          type: integer
          minimum: 0
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
    LogsResponse:
      type: object
      required: [logs, total, page, per_page]
      properties:
        logs:
          type: array
          items:
            $ref: '#/components/schemas/RequestLogEntry'
        total:
          type: integer
          minimum: 0
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
    RequestLogMetadata:
      type: object
      additionalProperties:
        anyOf:
          - type: string
          - type: number
          - type: boolean
    RequestLogEntry:
      type: object
      required:
        - id
        - occurredAt
        - timestamp
        - level
        - message
      properties:
        id:
          type: string
        occurredAt:
          type: integer
          format: int64
          description: Milliseconds since Unix epoch when the event occurred.
        timestamp:
          type: string
          description: Human-readable timestamp formatted for display.
        level:
          $ref: '#/components/schemas/RequestLogLevel'
        message:
          type: string
        source:
          type: string
          description: Origin system or component.
        metadata:
          $ref: '#/components/schemas/RequestLogMetadata'
        stackTrace:
          type: string
          description: Optional diagnostic stack trace for error logs.
    MediaLocalization:
      type: object
      description: Title and overview translated to a specific language.
      additionalProperties: false
      properties:
        title:
          type: string
          nullable: true
        overview:
          type: string
          nullable: true
    BaseMediaRequest:
      type: object
      required:
        - id
        - title
        - year
        - poster_url
        - overview
        - genres
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
        title:
          type: string
        year:
          type: integer
        poster_url:
          type: string
          format: uri
        overview:
          type: string
        genres:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/MediaRequestStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        localizations:
          type: object
          description: Localized titles and overviews keyed by 3-letter language codes.
          additionalProperties:
            $ref: '#/components/schemas/MediaLocalization'
    MovieRequest:
      allOf:
        - $ref: '#/components/schemas/BaseMediaRequest'
        - type: object
          required: [type, runtime, imdb_id]
          properties:
            type:
              type: string
              enum: [movie]
            runtime:
              type: integer
              description: Runtime in minutes.
            imdb_id:
              type: string
              description: IMDb identifier.
            radarr_movie_id:
              type: integer
              nullable: true
              description: Identifier of the linked Radarr movie when the request was auto-synchronised.
    SeriesRequest:
      allOf:
        - $ref: '#/components/schemas/BaseMediaRequest'
        - type: object
          required:
            - type
            - season_number
            - total_episodes
            - series_title
            - series_year
            - imdb_id
          properties:
            type:
              type: string
              enum: [series]
            season_number:
              type: integer
            total_episodes:
              type: integer
            series_title:
              type: string
            series_year:
              type: integer
            imdb_id:
              type: string
            sonarr_series_id:
              type: integer
              nullable: true
              description: Identifier of the linked Sonarr series when the request was auto-synchronised.
    MediaRequest:
      oneOf:
        - $ref: '#/components/schemas/MovieRequest'
        - $ref: '#/components/schemas/SeriesRequest'
      discriminator:
        propertyName: type
        mapping:
          movie: '#/components/schemas/MovieRequest'
          series: '#/components/schemas/SeriesRequest'
    CreateMovieRequest:
      type: object
      required: [type, title, year, runtime, imdb_id]
      properties:
        type:
          type: string
          enum: [movie]
        title:
          type: string
        year:
          type: integer
        runtime:
          type: integer
        imdb_id:
          type: string
        overview:
          type: string
        poster_url:
          type: string
        genres:
          type: array
          items:
            type: string
        localizations:
          type: object
          description: Optional localized titles and overviews keyed by language codes.
          additionalProperties:
            $ref: '#/components/schemas/MediaLocalization'
    CreateSeriesRequest:
      type: object
      required:
        - type
        - title
        - year
        - season_number
        - total_episodes
        - series_title
        - series_year
        - imdb_id
      properties:
        type:
          type: string
          enum: [series]
        title:
          type: string
        year:
          type: integer
        season_number:
          type: integer
        total_episodes:
          type: integer
        series_title:
          type: string
        series_year:
          type: integer
        imdb_id:
          type: string
        overview:
          type: string
        poster_url:
          type: string
        genres:
          type: array
          items:
            type: string
        localizations:
          type: object
          description: Optional localized titles and overviews keyed by language codes.
          additionalProperties:
            $ref: '#/components/schemas/MediaLocalization'
    MediaRequestCreate:
      oneOf:
        - $ref: '#/components/schemas/CreateMovieRequest'
        - $ref: '#/components/schemas/CreateSeriesRequest'
      discriminator:
        propertyName: type
        mapping:
          movie: '#/components/schemas/CreateMovieRequest'
          series: '#/components/schemas/CreateSeriesRequest'
    MediaRequestUpdate:
      type: object
      properties:
        title:
          type: string
          nullable: true
        year:
          type: integer
          nullable: true
        poster_url:
          type: string
          nullable: true
        overview:
          type: string
          nullable: true
        genres:
          type: array
          items:
            type: string
          nullable: true
        status:
          $ref: '#/components/schemas/MediaRequestStatus'
        runtime:
          type: integer
          nullable: true
        imdb_id:
          type: string
          nullable: true
        season_number:
          type: integer
          nullable: true
        total_episodes:
          type: integer
          nullable: true
        series_title:
          type: string
          nullable: true
        series_year:
          type: integer
          nullable: true
        localizations:
          type: object
          nullable: true
          description: Replace or clear localized metadata when provided.
          additionalProperties:
            $ref: '#/components/schemas/MediaLocalization'
    Release:
      type: object
      required:
        - id
        - name
        - hash
        - size
        - files
        - status
        - progress
        - download_speed
        - upload_speed
        - seeders
        - leechers
        - ratio
        - added_date
        - request_ids
      properties:
        id:
          type: string
        name:
          type: string
        hash:
          type: string
        size:
          type: integer
          format: int64
          description: Total bytes.
        files:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseFile'
        status:
          $ref: '#/components/schemas/ReleaseStatus'
        progress:
          type: number
          format: float
          minimum: 0
          maximum: 100
        download_speed:
          type: number
          format: float
        upload_speed:
          type: number
          format: float
        seeders:
          type: integer
        leechers:
          type: integer
        ratio:
          type: number
          format: float
        added_date:
          type: string
          format: date-time
        completed_date:
          type: string
          format: date-time
          nullable: true
        request_ids:
          type: array
          items:
            type: string
        torrent_source:
          type: string
          nullable: true
        quality:
          type: string
          nullable: true
    ReleaseFile:
      type: object
      required: [id, name, size, path]
      properties:
        id:
          type: string
        name:
          type: string
        size:
          type: integer
          format: int64
        path:
          type: string
        request_mapping:
          $ref: '#/components/schemas/FileRequestMapping'
    FileRequestMapping:
      oneOf:
        - $ref: '#/components/schemas/MovieFileRequestMapping'
        - $ref: '#/components/schemas/SeriesFileRequestMapping'
      discriminator:
        propertyName: mapping_type
        mapping:
          movie: '#/components/schemas/MovieFileRequestMapping'
          series: '#/components/schemas/SeriesFileRequestMapping'
    MovieFileRequestMapping:
      type: object
      required: [request_id, mapping_type]
      properties:
        request_id:
          type: string
        request_title:
          type: string
        mapping_type:
          type: string
          enum: [movie]
    SeriesFileRequestMapping:
      type: object
      required: [request_id, mapping_type, season, episode]
      properties:
        request_id:
          type: string
        request_title:
          type: string
        mapping_type:
          type: string
          enum: [series]
        season:
          type: integer
          minimum: 1
        episode:
          type: integer
          minimum: 1
    ReleaseFileMappingInput:
      type: object
      required: [file_id]
      properties:
        file_id:
          type: string
        request_mapping:
          $ref: '#/components/schemas/FileRequestMapping'
    ReleaseFileMappingsUpdate:
      type: object
      required: [files]
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseFileMappingInput'
    ReleaseFileMappingSuggestion:
      type: object
      required: [file_id, request_mapping]
      description: >-
        A mapping the server proposes for a file. Unlike an update, it always
        names one: there is no such thing as suggesting that a file be unmapped.
      properties:
        file_id:
          type: string
        request_mapping:
          $ref: '#/components/schemas/FileRequestMapping'
    ReleaseFileMappingSuggestions:
      type: object
      required: [files]
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseFileMappingSuggestion'
    AsyncOperationResponse:
      type: object
      required: [operation, status]
      properties:
        operation:
          type: string
          description: Identifier of the async operation that was accepted.
        status:
          type: string
          enum: [queued, pending]
          description: Initial status assigned to the async operation.
        operation_id:
          type: string
          description: Unique identifier clients can use to poll for completion.
        location:
          type: string
          format: uri
          nullable: true
          description: Alternative URL for polling if different from the Location header.
        message:
          type: string
          nullable: true
          description: Human-readable acknowledgement of the queued work.
        resource_id:
          type: string
          nullable: true
          description: Primary resource impacted by the async operation.
        details:
          type: object
          nullable: true
          additionalProperties: true
          description: Optional metadata describing the accepted work.
    SuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    SyncJobKind:
      type: string
      enum: [sonarr_sync, radarr_sync, release_sync, export, regrab]
      description: |
        A unit of background work. `sonarr_sync` pulls wanted episodes from
        Sonarr, `radarr_sync` pulls wanted movies from Radarr, `release_sync`
        refreshes download state from the download client, `export` imports
        finished releases back into Sonarr and Radarr, and `regrab` re-downloads
        releases the indexer has since replaced.
    SyncJobStatus:
      type: string
      enum: [queued, running, completed, failed]
    SyncJobTrigger:
      type: string
      enum: [api, download_client, schedule]
      description: Origin of the sync request.
    SyncJob:
      type: object
      required: [id, kind, status, trigger, queued_at]
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/SyncJobKind'
        status:
          $ref: '#/components/schemas/SyncJobStatus'
        trigger:
          $ref: '#/components/schemas/SyncJobTrigger'
        queued_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        finished_at:
          type: string
          format: date-time
          nullable: true
        duration_ms:
          type: integer
          nullable: true
          description: Wall-clock run time, absent until the job finishes.
        error:
          type: string
          nullable: true
          description: Why the run failed.
        result:
          type: object
          nullable: true
          additionalProperties: true
          description: Summary of the work performed.
    SyncJobsResponse:
      type: object
      required: [jobs]
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/SyncJob'
    ScheduledTask:
      type: object
      required: [kind, interval_seconds]
      properties:
        kind:
          $ref: '#/components/schemas/SyncJobKind'
        interval_seconds:
          type: integer
          description: How often the scheduler runs this task.
        last_execution:
          type: string
          format: date-time
          nullable: true
          description: Absent until the scheduler has run the task once.
        last_duration_ms:
          type: integer
          nullable: true
        last_status:
          $ref: '#/components/schemas/SyncJobStatus'
        last_error:
          type: string
          nullable: true
        next_execution:
          type: string
          format: date-time
          nullable: true
          description: Computed from the last execution; absent if never run.
    ScheduledTasksResponse:
      type: object
      required: [tasks]
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledTask'
    AddReleaseRequest:
      type: object
      required: [magnet_link, request_ids]
      properties:
        magnet_link:
          type: string
        request_ids:
          type: array
          items:
            type: string
    ReleaseSearchResult:
      type: object
      required:
        - release_id
        - release_name
        - size
      properties:
        release_id:
          type: string
        release_name:
          type: string
        size:
          type: string
        magnet_link:
          type: string
          format: uri
          description: Magnet URI for the release when available.
          nullable: true
        torrent_file_url:
          type: string
          format: uri
          description: Direct URL to the .torrent file when available.
          nullable: true
        info_url:
          type: string
          format: uri
          description: Link to additional release information on the indexer.
          nullable: true
        seeders:
          type: integer
          minimum: 0
          nullable: true
        leechers:
          type: integer
          minimum: 0
          nullable: true
        quality:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        request_id:
          type: string
          description: Identifier of the media request that initiated the search.
          nullable: true
        publish_date:
          type: string
          format: date-time
          description: When the indexer published the release. Used to derive release age.
          nullable: true
    ReleaseSearchResponse:
      type: object
      required: [results, query, total_results]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseSearchResult'
        query:
          type: string
        total_results:
          type: integer
    ReleaseDownloadRequest:
      type: object
      required:
        - release_id
      properties:
        release_id:
          type: string
    ManualReleaseRequest:
      type: object
      description: Exactly one of the two fields must be supplied.
      properties:
        magnet_link:
          type: string
          nullable: true
          description: A magnet URI carrying the info hash.
        torrent_file_base64:
          type: string
          nullable: true
          description: Base64-encoded contents of a `.torrent` file.
    MediaSearchResult:
      type: object
      required: [type, provider_id, title]
      properties:
        type:
          $ref: '#/components/schemas/MediaType'
        provider_id:
          type: integer
          description: TVDB id for a series, TMDB id for a movie. What the add is keyed by.
        title:
          type: string
        year:
          type: integer
          nullable: true
        overview:
          type: string
          nullable: true
        poster_url:
          type: string
          nullable: true
        in_library:
          type: boolean
          default: false
          description: Whether Sonarr/Radarr already holds this media.
        library_id:
          type: integer
          nullable: true
          description: Sonarr series id or Radarr movie id, when already in the library.
        requested_seasons:
          type: array
          description: Season numbers that already have a request. Series only.
          items:
            type: integer
        request_id:
          type: string
          nullable: true
          description: Identifier of the existing request. Movies only.
        request_status:
          allOf:
            - $ref: '#/components/schemas/MediaRequestStatus'
          nullable: true
          description: Status of the existing request. Movies only.
    MediaSearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MediaSearchResult'
    SeasonOption:
      type: object
      required: [season_number]
      properties:
        season_number:
          type: integer
        monitored:
          type: boolean
          default: false
          description: Whether Sonarr monitors the season today.
        requested:
          type: boolean
          default: false
        downloaded:
          type: boolean
          default: false
          description: >-
            Whether Sonarr holds a file for every episode of the season that has
            aired. False for a season yet to air, which has nothing to hold.
        request_id:
          type: string
          nullable: true
    SeriesSeasonsResponse:
      type: object
      required: [seasons]
      properties:
        tvdb_id:
          type: integer
          nullable: true
          description: >-
            Absent when the seasons were read from a series in the library rather
            than looked up by TVDB id, which is how managing a request arrives.
        in_library:
          type: boolean
          default: false
        library_id:
          type: integer
          nullable: true
        monitor_new_seasons:
          type: boolean
          default: false
          description: >-
            Whether Sonarr monitors seasons announced after the series was added.
            Only meaningful in the library; Sonarr has nowhere to record it until
            then.
        seasons:
          type: array
          items:
            $ref: '#/components/schemas/SeasonOption'
    RootFolder:
      type: object
      required: [path]
      properties:
        path:
          type: string
        free_space:
          type: integer
          nullable: true
          description: Bytes available, as the *arr app reports them.
    RootFoldersResponse:
      type: object
      required: [folders]
      properties:
        folders:
          type: array
          items:
            $ref: '#/components/schemas/RootFolder'
    AddRequestPayload:
      type: object
      required: [type, provider_id, root_folder_path]
      properties:
        type:
          $ref: '#/components/schemas/MediaType'
        provider_id:
          type: integer
          description: TVDB id for a series, TMDB id for a movie.
        root_folder_path:
          type: string
          minLength: 1
        season_numbers:
          type: array
          nullable: true
          description: >-
            Seasons to request. Required to add a series Sonarr does not hold
            yet, and rejected for movies. Empty for a series already in the
            library requests nothing and sets only monitor_new_seasons.
          items:
            type: integer
        monitor_new_seasons:
          type: boolean
          default: false
          description: >-
            Ask Sonarr to monitor seasons announced later, which the sync then
            turns into requests of their own. Series only.
    UpdateSeasonsPayload:
      type: object
      required: [season_numbers]
      properties:
        season_numbers:
          type: array
          description: >-
            The seasons Sonarr should monitor afterwards, saved to its own flags
            as given. Absolute rather than a delta: a season left out is
            unmonitored in Sonarr and any request it had removed. Specials are
            out of scope and keep what they had, and the series itself stays
            monitored however few seasons are left.
          items:
            type: integer
        monitor_new_seasons:
          type: boolean
          default: false
    AddRequestResponse:
      type: object
      required: [requests]
      properties:
        requests:
          type: array
          description: One request per requested season for a series, a single one for a movie.
          items:
            $ref: '#/components/schemas/MediaRequest'
