# Database configuration
DATABASE_URL=sqlite+aiosqlite:///./db.sqlite3

# Sonarr (optional)
SONARR_URL=http://localhost:8989
SONARR_API_KEY=changeme

# TVDB (optional)
TVDB_API_KEY=changeme

# Prowlarr (optional)
PROWLARR_URL=http://localhost:9696
PROWLARR_API_KEY=changeme

# qBittorrent (optional)
QBITTORRENT_URL=http://localhost:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin

# Mocking
MOCK_EXTERNAL_SERVICES=true
