{% extends "base.html" %}
{% block title %}Logs Table{% endblock %}
{% block content %}
<div>
    <h1 class="text-3xl font-bold mb-5">Logs</h1>
    <div class="bg-gray-800 rounded-lg p-5">
        <table class="min-w-full divide-y divide-gray-700">
            <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Time</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Level</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Component</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Message</th>
                </tr>
            </thead>
            <tbody class="bg-gray-800 divide-y divide-gray-700">
                {% for log in logs %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">{{ log.time }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">{{ log.level }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">{{ log.component }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300"><pre>{{ log.message }}</pre></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}