{% extends "base.html" %}

{% block title %}Series List{% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl font-bold mb-5">Запросы</h1>
    <div>
        {% for show in shows %}
        <div class="bg-gray-800 rounded-lg p-5 mb-5 flex">
            <img src="{{ show.tvdb_data.image_url }}" alt="{{ show.tvdb_data.title }}" class="w-24 h-36 rounded-lg mr-5">
            <div>
                <h5 class="text-2xl font-semibold mb-3">
                    <a href="{{ url_for('show_page', show_id=show.id) }}" class="text-blue-400 hover:underline">
                        {{ show.tvdb_data.title }} ({{ show.tvdb_data.year }})
                    </a>
                </h5>
                <p class="mb-2">Сезоны</p>
                <div class="flex space-x-2">
                    {% for season in show.missing_seasons %}
                    <span class="bg-gray-700 text-white py-1 px-3 rounded-full">{{ season }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
